<!-- header -->
<style>
header {
  align-items: flex-end;
  padding-top: 0.5rem;
}
header h1 {
  font-size: 1.5rem;
  padding-left: 1rem;
  text-transform: uppercase;
}
header nav {
  display: flex;
  margin-top: 0.6rem;
  padding-left: 0.5rem;
}

header nav a {
  width: fit-content;
  padding: 0 0.25rem 0.1rem;
  margin: 0 0.25rem;
  font-size: 0.8rem;
  --wght: 500;
}

header nav a:hover {
  text-decoration: underline;
}
</style>
<header>
  <h1>{{ site.title }}</h1>
  <nav>
    {%- for nav_item in site.nav_bar_items -%}
      <a href="{{ nav_item.page }}">{{ nav_item.label }}</a>
    {%- endfor -%}
  </nav>
</header>