<!-- head -->
<head>
  {% include head/js/google_analytics.html %}
  <meta charset="utf-8">
  <meta name="author" content="{{ site.author }}" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="icon" type="image/png" href="{{ site.favicon }}">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="keywords" content="{{ page.keywords | default: site.keywords | strip_html | normalize_whitespace | escape }}">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  {% include head/css/default.html %}
  {% include head/css/vars.html %}
  {% include head/css/font.html %}
  {% include head/css/common.html %}
</head>