---
layout: list-with-header

<!-- section_cover_title: Liuying's Portfolio -->
---
<style>

.sub-title {
  margin-bottom: 1rem;
}

#ani-3-2 {
    list-style: none;
    display: flex;
    margin: 20vh auto 0;
    width: fit-content;
  }

  #ani-3-2 li {
    margin-right: 1.1rem;
    margin-left: 1.1rem;
  }

.icon {
    position: relative;
    font-size: 2.2rem;
    line-height: 1;
  }

.icon::before {
  font-family: 'remixicon' !important;
  font-size: 2.2rem;
  position: relative;
  transition: all .2s ease;
  display: inline-block;
}

.icon-tip {
  pointer-events: none;
  touch-action: none;

  font-size: 0.5rem;
  color: var(--ly-background-color);
  background-color: var(--ly-font-color-2);
  padding: 5px;
  border-radius: 5px;

  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-2.2rem);
  transition: all .2s ease;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.icon:hover::before {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.icon:hover .icon-tip {
  transform: translateX(-50%) translateY(-1rem) scale(1.5);
  opacity: 1;
}
</style>
<style>
  .group {
    margin-bottom: 20px;
  }
  .group_header {
    font-size: 12px;
  }
  .post_list {
    margin-top: 15px;
  }
  .post_item {
    margin-bottom: 5px;
  }
  .post_item:hover {
    color: var(--ly-font-color-1);
  }
</style>
<div class="home-root">

  <ul>
    {% for category in site.categories %}
      {% if category[0] != 'code' and category[0] != 'essay' %}
        <li class="group">
          <div class="group_header">
            {{ category[0] }}
            <!-- {{ category[0] }} ({{ category[1].size }}) -->
          </div>
          <ul class="post_list">
            {% for post in category[1] %}
              <li class="post_item"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <section id="section-contact" class="home-slice">
    <ui id="ani-3-2">
      {%- for s in site.social -%}
        <li>
          <a title="{{ s.alias }}" class="contact-alias" href="{{ s.url }}" target="_blank">
            <i class="{{ s.icon }} icon">
              <h5 class="icon-tip">{{ s.alias }}</h5>
            </i>
          </a>
        </li>
      {%- endfor -%}
    </ui>
  </section>
</div>
