<style>
html {
  margin: 0;
  padding: 0;
  font-size: 32px;
  color: var(--ly-font-color-2);
  background-color: var(--ly-background-color);
  min-width: 800px;
}

@media screen and (max-width:1600px) and (min-width:800px) {
  html {
    font-size: 2vw;
  }
  
}

@media screen and (max-width:800px) {
  html {
    font-size: 16px;
  }
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  font-family: 'main-font', 'PingFang SC';
  --wght: 400;
  --BEVL: 20;
  font-variation-settings: 'wght' var(--wght), 'BEVL' var(--BEVL);
}

body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, dl, figure, form, img, video, pre, iframe, blockquote, table {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--ly-font-color-1);
  --wght: 700;
  --BEVL: 100;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;

}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
</style>